bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user
launchSettings.json

*.nupkg
*.snupkg
packages/

TestResults/
*.trx
*.coverage
coverage.*

# 构建/调试临时产物
*.log
.dotnet-*/
.tmp-*/
.tmp_*
